# FastAPI and server
fastapi
uvicorn

# Data handling
pandas
numpy

# Machine Learning
scikit-learn
xgboost
joblib

# Kubernetes interaction (Optional, if needed)
kubernetes

# For logging and debugging
loguru

